<div class="episodeDetails">
    <dl class="episodeMetadata">
        <div>
            <dt>Show</dt>
            <dd><a href="/episodes/<%= encodeURIComponent(show) %>"><%= show %></a></dd>
        </div>
        <div>
            <dt>Episode</dt>
            <dd><%= title %></dd>
        </div>
        <div>
            <dt>Length</dt>
            <dd><%= duration %></dd>
        </div>
    <% if(date) { %>
        <div>
            <dt>Broadcast</dt>
            <dd><%= date %></dd>
        </div>
    <% }%>
    <% if(number) { %>
            <div>
                <dt>Number</dt>
                <dd><%= number %></dd>
            </div>
    <% }%>
    </dl>
    <p class="episodeShortSummary"><em><%= summarySmall %></em></p>

    <div class="episodeDownloadLinks">
        <audio controls preload="none" src="<%= url %>"></audio>
        <a href="<%= url %>">Download</a>
    </div>

    <h3>Plot Summary</h3>
    <p><%- text.replaceAll("\\\"", "\"").replaceAll("\n", "<br>") %></p>
    <p>
        <% const subject = encodeURIComponent("Episode summary feedback"); %>
        <% const body = encodeURIComponent("I would like to report a problem with the summary for the episode " + show + ": " + episode + " (id = " + id + ")\n\n<please describe the problem here>"); %>
        <% const mailToLink = "mailto:rob@oldtime.radio?subject=" + subject + "&body=" + body; %>
        <a href="<%= mailToLink %>">Report a problem</a>
    </p>
</div>