<div class="episodeDetails">
    <p><%- document.text.replaceAll("\\\"", "\"").replaceAll("\\n", "<br>") %></p>
    <div class="episodeDownloadLinks">
        <audio controls preload="none" src="<%= document.url %>"></audio>
        <a href="<%= document.url %>">Download</a>
        <a href="<%= document.episodePageUrl %>" target="_blank">Permalink</a>
        <% const subject = encodeURIComponent("Episode summary feedback"); %>
        <% const body = encodeURIComponent("I would like to report a problem with the summary for the episode " + document.show + ": " + document.episode + " (id = " + document.id + ")\n\n<please describe the problem here>"); %>
        <% const mailToLink = "mailto:rob@oldtime.radio?subject=" + subject + "&body=" + body; %>
        <a href="<%= mailToLink %>">Report a problem</a>
    </div>
</div>