<div class="episodeSummary" data-similarity="<%= similarity %>">
    <h3>
        <a href="/episode/<%= id %>">
            <% if (show) { %>
                <span class="showName"><%= show %>:</span>
            <% } %>
            <span class="episodeName"><%= episode %></span>
        </a>
    </h3>
    <p class="summaryText"><%= summary %></p>
    <details data-episode-id="<%= id %>">
        <summary>more...</summary>
        <div class="episodeDetailsContainer">
            <%- include('loading' )%>
        </div>
    </details>
</div>
