<!doctype html>
<html>
    <head>
        <%- include('partials/head', { title: `${episode.show}: ${episode.episode}`, description: `Plot summary and episode information for ${episode.show} episode '${episode.episode}'` }) %>
    </head>
    <body>
        <%- include('partials/header', { subTitle: `${episode.show}: ${episode.episode}`, cssClass: "episodeHeader" }) %>
        <main>
            <h2><%= episode.show %>: <%= episode.episode %></h2>

            <p class="compact"><em><%= episode.summarySmall %></em></p>

            <h3>Plot Summary</h3>

            <%- include('partials/episode-details', { document: episode }) %>

            <p class="compact">
                <a href="/episodes/<%= episode.show %>">Other '<%= episode.show %>' episodes</a>
            </p>
        </main>
    </body>
</html>
