<!doctype html>
<html>
    <head>
        <%- include('partials/head', { title: `Search`, description: `Search engine for episodes of old radio shows` }) %>
    </head>
    <body>
        <%- include('partials/header', { subTitle: "Search", cssClass: "" }) %>
        <main>
            <p class="pageDescription">
                Use this page to search for episodes of <a href="/shows">old radio shows</a>.
            </p>
            <p class="pageDescription">
                Search using words/phrases that appear in the episode, or describe what happens in the plot <br>
                e.g. <a href="/search/<%= exampleSearch %>">"<%= exampleSearch %>"</a>.
            </p>

            <div id="searchForm">
                <input id="searchInput" class="rounded" type="text" placeholder="Search..." autocomplete="off">
                <button id="searchButton" class="rounded" aria-label="Search">Search</button>
            </div>

            <div id="searchRunning">
                <%- include('partials/loading') %>
            </div>

            <p id="searchError"></p>
            <p id="searchInfo"></p>

            <div id="searchResults" data-threshold="<%= goodMatchThreshold%>"></div>
        </main>
        <script type="module" src="/js/search.mjs"></script>
        <script type="module" src="/js/episodeSummary.mjs"></script>
    </body>
</html>
